<div ng-controller="appController">
    <!-- Navbar -->
    <div class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#!/main">
                    <img src="img/logo-lg.png" alt="instatube logo">
                </a>
            </div>
            <div class="search">
                <form ng-submit="search()">
                    <input type="text" placeholder="search..." id="query" name="query" ng-focus="focused()">
                    <button type="submit" id="search-button">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- // Navbar -->
    <!-- Filter -->
    <div class="filter" ng-click="toggle=!toggle" ng-if="items">
        <div class="container">
            <div class="filter-head">
                <!-- <div class="results">about 22.001.558 results</div> -->
                <div class="control-filter">
                    <i class="fa fa-align-right"></i> filter</div>
                <div class="clearfix"></div>
            </div>
            <div class="controls" ng-show="toggle">
                <div class="item">
                    <h4>uplaod date</h4>
                    <ul>
                        <li>last hour</li>
                        <li>today</li>
                        <li>this week</li>
                        <li>this month</li>
                    </ul>
                </div>
                <div class="item">
                    <h4>type</h4>
                    <ul>
                        <li>video</li>
                        <li>channel</li>
                        <li>playlist</li>
                    </ul>
                </div>
                <div class="item">
                    <h4>sort by</h4>
                    <ul>
                        <li>relevance</li>
                        <li>upload date</li>
                        <li>view count</li>
                        <li>rating</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //Filter -->

    <div class="videos-list">
        <div class="container">
            <div class="spinner" ng-show="loading">
                <img src="img/loader.jpg" alt="Yükleniyor..." />
            </div>
            <!-- Default video layout -->
            <div class="default-video" ng-repeat="item in items">
                <div class="screen">
                    <a href="#!/single/{{ item.id.videoId }}" class="thumb-img">
                        <img ng-src="{{ item.snippet.thumbnails.medium.url }}" alt="{{ item.snippet.title }}">
                    </a>
                    <span>12:00</span>
                </div>
                <div class="info">
                    <h4>
                        <a href="#!/single/{{ item.id.videoId }}">{{ item.snippet.title }}</a>
                    </h4>
                    <p class="details">
                        <a href="#!/channel/{{ item.snippet.channelId }}">{{ item.snippet.channelTitle }} </a> .
                        <span>published At: {{ item.snippet.publishedAt | date : format : longDate }}</span>
                    </p>
                    <p class="description">{{ item.snippet.description }}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //Default video layout -->



            <!-- playlist video layout -->
            <!-- <div class="playlist-video">
                <div class="screen">
                    <a href="#" class="thumb-img">
                        <img src="img/thumb.jpg" alt="title">
                    </a>
                    <div class="playall">
                        <span>27</span>
                        <i class="fa fa-outdent"></i>
                    </div>
                </div>
                <div class="info">
                    <h4>SpongeBob SquarePants | Trident Trouble | Nickelodeon UK</a>
                    </h4>
                    <p class="details">
                        <a href="#">Nickelodeon UK </a>
                        <span>65.2k views</span> .
                        <span>10 months ago</span>
                    </p>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book.</p>
                    <a href="#">veiw full playlist (36 videos)</a>
                </div>
                <div class="clearfix"></div>
            </div> -->
            <!-- //playlist video layout -->

            <!-- channel video layout -->
            <!-- <div class="channel-video">
                <div class="screen">
                    <a href="#" class="thumb-img">
                        <img src="img/thumb.jpg" alt="title">
                    </a>
                </div>
                <div class="info">
                    <h4>SpongeBob SquarePants</a>
                    </h4>
                    <p class="details">65.2k subscripers</p>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book.</p>
                </div>
                <div class="clearfix"></div>
            </div> -->
            <!-- //channel video layout -->
        </div>
    </div>

</div>